.areaListWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    justify-content: space-between;
}

/* .paginationContainer{
    display: flex;

    justify-content: space-between;
} */
.paginationTab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}