.areaListWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    justify-content: space-between;
}

/* .paginationContainer{
    display: flex;

    justify-content: space-between;
} */
.paginationTab{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.allocateIssueButton{
    padding: 13px;
    border-radius: 10px;
    border-style: none;
}

.allocateIssueDiv{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    transition: all 0.1s ease-in-out;
}

.allocateIssueDiv:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.verifySensorsDiv{
    border:solid;
    borderWidth:1px;
    borderRadius:30px;
    padding:5px;
    display:flex;
    justifyContent:center;
    transition: all 0.2s ease-in-out;
}
.verifySensorsDiv:hover{
    cursor: pointer;
    transform: scale(1.1);
}